################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/chess/temp
/chess/Debug
/.vs/chess/v15
/chess/Release/chess.tlog
/chess/Release
/Release
